body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif ;
}
body {
    background: white;
    transition: 0.5s;
}
#ChangeTheme {
    width: 0;
    height: 0;
    opacity: 0;
}
label {
    display: block;
    height: 15px;
    width: 60px;
    position: relative;
    transform:rotate(90deg) translate(50px, 100px);
}
span.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dadada;
    border-radius: 30px;
}
span.slide:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
}
.txt {
    position: relative;
    transform: translatex(-50px);
}
.txt p:nth-child(1) {
    color: rgb(243, 76, 76);
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.5s;
}
.txt p:nth-child(2){
    color: rgb(0, 225, 255);
    font-weight: bold;
}
#ChangeTheme:checked + span.slide:before {
    transform: translatex(40px);
 }
  /* if dark-mode class is added set this background */
body.dark-mode {
    background: #121212;
    color: white;
    transition: 0.3s;
}
.dark-mode .txt p:nth-child(1){
    color: rgb(0, 225, 255);
    font-weight: normal;
}
.dark-mode .txt p:nth-child(2){
    color: rgb(243, 76, 76);
    font-weight: bold;
}
  
#calculate{
display: flex;
justify-content: center;
align-content: center;
margin-left: 160px ;
margin-top: 40px;
width: 250px;
}
#title{
    font-style: italic;
    margin-bottom: 5px;
    margin-left: 140px;
    font-size: 4vw;
    font-weight: 600;
    
}
.calculatorText{
  margin-left: 125px;
}
#calculatorWrapper{
    width: 650px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    box-shadow: 0 3px 4px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
form input[type="text"] {
    width:90px;
  }
  
  input {
    margin-left: 15px;
  }
  
  #billamt {
    font-size: 14px;
    color: #2980b9;
    /*color: red;*/
    background-color: #f7f7f7;
    width: 40%;
    margin-left: 6px;
    padding: 5px 5px 8px 8px;
  }
  
  #billamt:focus {
    background: #fff;
    border: 3px solid #ff6f6f;
    outline: none;
  }
  
  #peopleamt {
    width: 40%;
    padding: 5px 5px 8px 8px;
    margin-left: 150px;
    color: #2980b9;
    /*color: red;*/
    background-color: #f7f7f7;
    font-size: 14px;
  }
  #peopleamt:focus{
    background: #fff;
    border: 3px solid #ff6f6f;
    outline: none;
  }
  .dollarSign {
    margin-left: 130px;
    display: inline;
  }
  
  #serviceQual {
    padding: 5px 40px;
    margin-left: 150px;
    font-size: 17px;
    text-align: center;

  }
  #serviceQual:focus{
    background: #fff;
    border: 3px solid #ff6f6f;
    outline: none;
  }
  
  button {
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    align-content: center;
    justify-content: center;
    background: rgb(241, 76, 118);
    border-radius: 15px;
    font-size: 17px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color: white;
    background-position: center;
    transition: rgb(241, 76, 118) 0.8s;
  }
  
  button:hover {
    box-shadow: 0 6px 8px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
    transform: translateY(-3px);
    cursor: pointer;
  }
  
  button:active {
    background: rgb(241, 76, 118);
    background-size: 100% ;
    transition: rgb(241, 76, 118) 0s;
    top: 1px;
  }
  
  button:focus{
    outline: none;
  }
  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
  }
  
  #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #totalTip sup {
    font-size: 20px;
    top: -18px;
  }
  
  #totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }

.input-field{
    width: 30vw;
}
#darkModeWrapper{
   display: block;
   position: absolute;
   right: 0;
}