@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 31%;
}

button{
margin-left: 20px ;
margin-top: 10px;
}

#everythingWrapper{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
#total{
    margin: 0px auto;
}
#percent{
    margin-left: 3px;
    margin-top: 10px;
}
.input-field{
    width: 30vw;
}