body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Century Gothic";
}
body {
    background: white;
    transition: 0.5s;
}
#ChangeTheme {
    width: 0;
    height: 0;
    opacity: 0;
}
label {
    display: block;
    height: 15px;
    width: 60px;
    position: relative;
    transform:rotate(90deg) translate(50px, 100px);
}
span.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dadada;
    border-radius: 30px;
}
span.slide:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 7px 1px;
}
.txt {
    position: relative;
    transform: translatex(-50px);
}
.txt p:nth-child(1) {
    color: grey;
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.5s;
}
#ChangeTheme:checked + span.slide:before {
    transform: translatex(40px);
 }
  /* if dark-mode class is added set this background */
body.dark-mode {
    background: #353535;
    color: white;
}
.dark-mode .txt p:nth-child(1){
    color: #000;
    font-weight: normal;
}
.dark-mode .txt p:nth-child(2){
    color: grey;
    font-weight: bold;
}
  
#calculate{
margin-left: 20px ;
margin-top: 10px;
}
#title{
    font-style: italic;
    margin-bottom: 5px;
    font-weight: 600;
    
}
#everythingWrapper{
    width: 650px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
form input[type="text"] {
    width:90px;
  }
  
  input {
    padding-left: 20px;
  }
  
  #billamt {
    font-size: 14px;
    /*color: #2980b9;*/
    color: red;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
  }
  
  #billamt:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
  }
  
  #peopleamt {
    width: 40%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: red;
    background-color: #f7f7f7;
    font-size: 14px;
  }
  
  .dollarSign {
    display: inline;
  }
  
  #serviceQual {
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
  }
  
  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
  
  button:hover {
    background: #58cce9;
    border-bottom-color: #111;
  }
  
  button:active {
    position: relative;
    top: 1px;
  }
  
  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
  }
  
  #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #totalTip sup {
    font-size: 20px;
    top: -18px;
  }
  
  #totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }

.input-field{
    width: 30vw;
}
#darkModeWrapper{
   display: block;
   position: absolute;
   right: 0;
}